.jumbotron {
    margin: 0 auto;
    padding: 70px 30px;
    background-color: #1565c0;
    background: url(https://dummyimage.com/1200x800/b5afb5/ffffff&text=Placeholder) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fffaf0;
    height: 420px;
}