{% extends 'djangoapp/layout.html' %}{% block content %}
<h1 class="skeleton-heading">Add Review</h1>
<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3 p-2 h-100 d-flex  bg-dark text-white">
        <div class="card-body bg-dark text-white">
            {% if user.is_authenticated %}
            <form action="{% url 'djangoapp:add_review' dealer_id dealer_name %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input id="fullname" class="form-control bg-dark text-white mr-2" type="text" name="fullname" placeholder="Enter your name..." value="{{ user.first_name }}" required>
                </div>
                <div class="form-group">
                    <label for="review">Review Text</label>
                    <textarea id="review" class="form-control bg-dark text-white mr-2" name="review" placeholder="Enter the review content..." rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input id="purchase" class="custom-control-input" type="checkbox" name="purchase" {% if not cars %}disabled{% endif %}>
                        <label for="purchase" class="text-orange custom-control-label">Have you purchased a vehicle from
                            {{ dealer_name }}?</label>
                        <p class="text-muted">(Below you can choose details of purchased vehicle.)</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="purchasedate">Purchase Date</label>
                        <input id="purchasedate" class="form-control bg-dark text-white mr-2" type="date" name="purchasedate" {% if not cars %}disabled{% endif %}>
                    </div>
                    <div class="form-group col">
                        <label for="car">Purchased Car</label>
                        <select id="car" class="custom-select bg-dark text-white" name="car" {% if not cars %}disabled{% endif %}>
                            {% for car in cars %}
                            <option value={{ car.carmodel_id }}>{{ car.carmake.name }} {{ car.name }} - {{ car.year }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="btn bg-orange text-white" type="submit">Save review</button>
            </form>
            {% else %}
            <p class="lead">Please login to add a review.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}