{% extends 'djangoapp/layout.html' %} {% block head %}
<!--Bootstrap Table-->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<title>Dealership Review</title>
{% endblock %} {% block content %}
<div class="card-body">
    {% include 'djangoapp/list.html' with dealer_list=dealerships %}
</div>
{% endblock %} {% block script %}
<!--Bootstrap Table-->
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js">
</script>
<script>
    $(function() {
        $('#table').bootstrapTable()
    })
</script>
{% endblock %}