<!--skeleton-->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/style.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js">
    </script>
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    </script>
</head>

<body class="text-center">
    <div class="skeleton-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="skeleton-header mb-centered">
            <div class="inner">
                <a class="skeleton-header-brand no-underline" href="{% url 'djangoapp:index' %}">
                    <div class="d-inline">
                        <i class="fas fa-car fa-3x text-orange"></i><i class="fas fa-car fa-2x text-orange"></i><i class="fas fa-car fa-1x text-orange"></i>
                    </div>
                    <h4 class="text-orange">Best Cars</h4>
                </a>
                <div id="mobileNav" class="overlay">

                    <!-- Button to close the mobile navigation -->
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                    <!-- Mobile navigation content -->
                    <div class="overlay-content">
                        <a href="{% url 'djangoapp:index' %}">Home</a>
                        <a href="{% url 'djangoapp:about' %}">About Us</a>
                        <a href="{% url 'djangoapp:contact' %}">Contact Us</a> {% if user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a class="nav-link ml-3 dropdown-toggle" href="#" role="button" id="user-logout-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}
                                ({{ user.username }})</a>
                            <div id="mobileLogout" class="dropdown-menu bg-dark text-white" aria-labelledby="user-logout-dropdown">
                                <a class="dropdown-item bg-orange text-white text-center" href="{% url 'djangoapp:logout' %}">Log Out</a>
                            </div>
                        </div>
                        {% else %}

                        <!-- Sign In -->
                        <div class="nav-item dropdown">
                            <a class="nav-link ml-3 dropdown-toggle" href="#" role="button" id="user-login-dropdown-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</a>
                            <div id="mobileLogin" class="dropdown-menu bg-dark text-white" aria-labelledby="user-login-dropdown-mobile">
                                <form class="form-horizontal bg-dark text-white my-2" action="{% url 'djangoapp:login' %}" method="POST">
                                    {% csrf_token %}
                                    <input class="form-control bg-dark text-white mr-2" type="text" placeholder="Username" name="username">
                                    <input class="form-control bg-dark text-white mr-2" type="password" placeholder="Password" name="password">
                                    <button class="btn bg-orange text-white mr-2" type="submit">Login</button>
                                    <label class="d-block">or register if you don't have account</label>
                                    <a class="btn d-block bg-orange text-white my-2" href="{% url 'djangoapp:registration' %}">Register</a>
                                </form>
                            </div>
                        </div>{% endif %}
                    </div>

                </div>
                <span onclick="openNav()"><i class="fas fa-bars fa-3x text-orange float-right d-lg-none"></i></span>
                <nav class="nav nav-skeleton-header justify-content-center d-none d-lg-flex">
                    {% url 'djangoapp:index' as url %}
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Home</a> {% url 'djangoapp:about' as url %}
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">About Us</a> {% url 'djangoapp:contact' as url %}
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Contact</a> {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link ml-3 dropdown-toggle" href="#" role="button" id="user-logout-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}
                            ({{ user.username }})</a>
                        <div id="desktopLogout" class="dropdown-menu bg-dark text-white" aria-labelledby="user-logout-dropdown">
                            <a class="dropdown-item bg-orange text-white text-center" href="{% url 'djangoapp:logout' %}">Log Out</a>
                        </div>
                    </div>
                    {% else %}

                    <!-- Sign In -->
                    <div class="nav-item dropdown">
                        <a class="nav-link ml-3 dropdown-toggle no-underline" href="#" role="button" id="user-login-dropdown-desktop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</a>
                        <div id="desktopLogin" class="dropdown-menu bg-dark text-white" aria-labelledby="user-login-dropdown-desktop">
                            <form class="form-horizontal bg-dark text-white my-2" action="{% url 'djangoapp:login' %}" method="POST">
                                {% csrf_token %}
                                <input class="form-control bg-dark text-white mr-2" type="text" placeholder="Username" name="username">
                                <input class="form-control bg-dark text-white mr-2" type="password" placeholder="Password" name="password">
                                <button class="btn d-block bg-orange text-white my-2" type="submit">Login</button>
                                <label class="d-block">or register if you don't have account</label>
                                <a class="btn d-block bg-orange text-white my-2" href="{% url 'djangoapp:registration' %}">Register</a>
                            </form>
                        </div>
                    </div>{% endif %}
                </nav>
            </div>
        </header>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="text-danger flex text-center">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <main role="main" class="row justify-content-center">

            <div class="main col-lg-9 col-md-12">{% block content %} {% endblock %}</div>
        </main>

        <footer class="skeleton-footer mt-auto">
            <nav class="nav nav-skeleton-footer justify-content-center d-none d-lg-flex">
                {% url 'djangoapp:index' as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Home</a> {% url 'djangoapp:about' as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">About Us</a> {% url 'djangoapp:contact' as url %}
                <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Contact</a>
            </nav>
            <div class="inner mt-4">
                <p>Author:<a href="https://github.com/yashjain0112"><span class="text-orange">YashJain</span></a></p>
            </div>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mobileNav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mobileNav").style.width = "0%";
        }
    </script>
</body>

</html>